{% extends "base.html" %}
{% block title %}Backoffice{% endblock %}
{% block content %}
<section class="admin-dashboard">
<div class="admin-header">
<h1>Backoffice</h1>
<p>panel para gestionar la página</p>
</div>

<section>
    <a href="/admin/login">
    <h2>login admins</h2>
</a>
    <a href="/admin/registro">
    <h2>registro admin</h2>
</a>
    <a href="/admin/menu">
    <h2>menú</h2>
</a>
    <a href="/admin/reservas">
        <h2>reservas</h2>
</a>
    <a href="/admin/historial_reservas">
        <h2>historial reservas</h2>
</a>
    <a href="/admin/reseñas">
        <h2>reseñas</h2>
</a>
</section>

</section>
{% endblock %}