{% extends "base.html" %}
{% block title %}administracion reseñas{% endblock %}
{% block content %}

<header class="reseñas-header">
    <h1>administracion de reseñas</h1>
    <p>gestion de las reseñas de los usuarios</p>
</header>

<section class="reseñas-section">
     <div class="parchment-card">
         <h2>reseña aceptada</h2>
         {% for resena in resenas %}
         <div>
             <p>Puntaje: {{ resena.puntaje_estrellas }} estrellas</p>
             <p>{{ resena.comentario }}</p>
            <a href="{{ url_for('admin_resena_editar', id_resena=resena.id_resena) }}" class="btn-edit">Editar</a>
            <form action="{{ url_for('admin_resena_eliminar', id_resena=resena.id_resena) }}" method="POST" style="display:inline;">
               <button type="submit" onclick="return confirm('Confirmar eliminacion de reseña');">Eliminar</button>
            </form>

             <hr>
         </div>
         {% else %}
         <p>no hay reseñas</p>
         {% endfor %}
     </div>
</section>

{% endblock %}