{% extends "base.html" %}
{% block title %}administrar reservas{% endblock %}

{% block content %}
<header class="reviews-header">
    <h1>administracion de las reservas</h1>
    <p>gestion de las reservas</p>
</header>

<section class="reviews-section">
    <div class="search-card">
        <h2>reservas registradas</h2>
        <table>
            <thead>
                <tr>
                    <th>cliente</th>
                    <th>fecha y hora</th>
                    <th>acciones</th>
                </tr>
            </thead>

            <tbody>
<!--de nuevo, aca van datos-->
            </tbody>
        </table>
    </div>
</section>
{% endblock %}