<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}La taberna del dragon{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) }}">
</head>
<body>

<nav>
  <ul>
    <li><a href="{{ url_for('index') }}inicio">inicio</a></li>
    <li><a href="{{ url_for('menu') }}">menu</a></li>
    <li><a href="{{ url_for('registro') }}">registro</a></li>
    <li><a href="{{ url_for('reservaciones') }}">reservaciones</a></li>
    <li><a href="{{ url_for('reseñas') }}">reseñas</a></li>
    </ul>
  </nav>

    {% block content %}
    {% endblock %}


  <footer>
    <p>La taberna del dragon</p>
    <section id="contacto">
    <h2 class="titulo">Visítanos</h2>

    <div class="informacion_contacto"> 
      <p>Reino de Buenos Aires - Calle de los Dragones 145</p>
      <p>+54 11 1234-5678</p>
      <p>Música medieval en vivo cada viernes</p>

      <a href="reservas.html" class="btn-ordenar" style="display: inline-block; width: auto; text-decoration: none;">
        Reservar Mesa
      </a>
    </div>
  </section>
  </footer>

</body>
</html>