{% extends "base.html" %}

{% block title %}Reservaciones - La Taberna del Dragón{% endblock %}

{% block content %}

<header class="reviews-header">
    <h1>Reserva tu mesa</h1>
    <p>Asegura tu lugar en la taberna medieval.</p>
</header>

<section class="reviews-header">
    <div class="search-card">
        <form method="POST" class="medieval-form" action="/">
            
            <div class="form-group">
                <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="20-22">20:00 - 22:00</option>
                <option value="22-00">22:00 - 00:00</option>
            </select>
            </div>
            <div class="form-group">
                <label for="cant_personas">Cantidad de personas:</label>
                <input type="number"
                    id="cant_personas"
                    name="cant_personas"
                    min="1"
                    required>
            </div>
            <button type="submit">
                Reservar mesa
            </button>
        </form>
</section>

{% endblock %}